@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <MudAppBar Dense="true"
               Elevation="1">
        <MudText Class="ml-3"
                 Typo="Typo.h5">
            Application
        </MudText>
        <MudSpacer />
        <MudIconButton Color="Color.Inherit"
                       Edge="Edge.End"
                       Icon="@(Icons.Material.Filled.MoreVert)" />
    </MudAppBar>
    <MudMainContent>
        <MudPopoverProvider />
        <main class="container-fluid mb-5 p-3">
            @Body
        </main>
    </MudMainContent>
</MudLayout>