@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="row align-items-end g-4 mb-3">
        <div class="col-md-4">
            <PasTemplateDropdown ValueChanged="OnFileSelectedAsync" />
        </div>

        @if (!string.IsNullOrEmpty(SelectedFileName))
        {
            <div class="col-md-8">
                <PasSheetSelector SheetNames="SheetsNames" SelectedSheetChanged="OnSheetSelectedAsync" />
            </div>
        }
    </div>

    <div class="row align-items-end g-4 mt-3">
        @if (!string.IsNullOrWhiteSpace(SelectedSheetName))
        {
            <div class="col-12">
                @* @if (GetCurrentSheetData()?.Any() == true) *@
                @* { *@
                @* } *@
                @* else *@
                @* { *@
                @* @Spinner() *@
                @* } *@
            </div>
        }
    </div>
</div>
<div id="myGrid" style="height: 500px;"></div>

@code {

    private RenderFragment Spinner() => @<div class="d-flex justify-content-center align-items-center" style="height: 200px;">
        <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>;
}
